.navbar-container{
    background-color: #111;
    border: 0;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 5%;
    height: 5%;

    cursor: pointer;  
}

.navbar-toggle{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;


}

.bar{
    display: block;
    cursor: pointer;
    background-color: #fff;
    width: 20px;
    height: 20px;
}
.bar:nth-of-type(1) {
    background-color: red;
}

.navbar_menu{
}

.spacer {
    flex-grow: 1;
}

.navbar-container ul {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}