*{
    margin:0;
    padding:0;
    content:0;
}

body {
    background-image: linear-gradient(to bottom, #051b2b 0%, #010802 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    overflow-x: hidden;

    height:100vh;
    width:100vw;
}

.moon-and-clouds-wrapper{
    position: absolute;
    top: -35vh;
    /*Finish centering later*/
    left: calc(35vw + 10px);
}

.moon-and-sun-wrapper{
    z-index: 5;
}

.moon {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 2px 2px 50px #eee;
}

.sun{
    display:none;
}

.clouds-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.clouds-wrapper img:nth-child(1){
    z-index: 4;
    transform:translate(-10vw, 35vh);
}
.clouds-wrapper img:nth-child(2){
    z-index: 6;
    transform:translate(15vw, 5vh);
}
.clouds-wrapper img:nth-child(3){
    z-index: 6;
    transform:translate(-6vw, -3vh);
}

@media only screen and (max-width: 800px){
    .moon {
        width: 400px;
        height: 400px;
        transform: translateY(20vh);
    }

    .clouds-wrapper img {
        width: 200px;
        height: 200px;
    }
}